.main-container {
  margin: 60px 0 60px 50px;
}

.edu-item {
  width: 80%;
  height: 400px;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.edu-item img {
  width: 50%;
  border-radius: 8px;
}

.edu-item .img-desc {
  width: fit-content;
  background-color: rgba(51, 0, 102, 0.85);
  height: fit-content;
  padding: 0px 20px 20px 20px;
  border-radius: 10px;
  position: relative;
  left: -40px;
  text-align: center;
}

.img-desc h2 {
  font-weight: bold;
  color: rgb(240, 240, 240);
  margin: 20px;
}
.img-desc h2:nth-child(2) {
  margin-top: -10px;
  font-size: 1.1rem;
}

.img-desc p {
  font-size: 0.8rem;
  color: rgb(240, 240, 240);
  text-align: center;
}

.img-desc button {
  margin: 10px 20px;
}

footer {
  text-align: center;
  background-color: #6c757d;
  padding: 40px;
  margin: 20px 0px;
}

footer p {
  color: white;
  font-size: 1.6rem;
  padding: 0px;
  line-height: 25px;
}

#end {
  font-size: 1rem;
}

@media (max-width: 800px) {
  header h2 {
    font-size: 1.6rem;
    line-height: 35px;
    padding: 0px 20px;
  }
  .main-container {
    margin: 60px auto 30px auto;
  }

  .edu-item {
    width: 90%;
    height: fit-content;
    margin: 20px auto 30px auto;
    display: flex;
    flex-direction: column;
  }

  .edu-item img {
    width: 100%;
  }

  .edu-item .img-desc {
    width: 80%;
    position: relative;
    left: 0px;
    top: -40px;
    text-align: center;
  }

  .img-desc h2 {
    font-size: 1.5rem;
  }

  .img-desc button {
    margin: 5px 20px;
  }

  footer {
    padding: 20px;
  }

  footer p {
    font-size: 1rem;
  }

  #end {
    font-size: 0.8rem;
  }
}
